In [141]:
import csv

from collections import OrderedDict
from datetime import datetime
class DataFrame(object):

    @classmethod
    def from_csv(cls, file_path, delimiting_character=',', quote_character='"'):
        with open(file_path, 'rU') as infile:
            reader = csv.reader(infile, delimiter=delimiting_character, quotechar=quote_character)
            data = []

            for row in reader:
                data.append(row)

            return cls(list_of_lists=data)



    def __init__(self, list_of_lists, header=True):
        #A2-task 1
        def unique_values(g):
            s =set()
            for x in g:
                if x in s: 
                    return False
                s.add(x)
            return True
        
        if header:
            self.header = list_of_lists[0]
            #task 1
            if not unique_values(self.header):
                raise Exception('Error: Not Unique')
            
            self.data = list_of_lists[1:]
        else:
            self.data = list_of_lists
            self.header = ['column' + str(index + 1) for index, column in enumerate(self.data[0])]
        
        #A2-task2
        
        for row in self.data:
            tmp = []
            for s in row:
                if isinstance(s , str):
                    tmp.append(s.strip())
                else:
                    tmp.append(s)
            row[:] = tmp[:]


        self.data = [OrderedDict(zip(self.header, row)) for row in self.data]
    
    def __getitem__(self, item):
        # this is for rows only
        if isinstance(item, (int, slice)):
            return self.data[item]

        # this is for columns only
        elif isinstance(item, str):
            return [row[item] for row in self.data]

        # this is for rows and columns
        elif isinstance(item, tuple):
            if isinstance(item[0], list) or isinstance(item[1], list):

                if isinstance(item[0], list):
                    rowz = [row for index, row in enumerate(self.data) if index in item[0]]
                else:
                    rowz = self.data[item[0]]

                if isinstance(item[1], list):
                    if all([isinstance(thing, int) for thing in item[1]]):
                        return [[column_value for index, column_value in enumerate([value for value in row.values()]) if index in item[1]] for row in rowz]
                    elif all([isinstance(thing, str) for thing in item[1]]):
                        return [[row[column_name] for column_name in item[1]] for row in rowz]
                    else:
                        raise TypeError('What the hell is this?')

                else:
                    return [[value for value in row.items()][item[1]] for row in rowz]
            else:
                if isinstance(item[1],  slice) or isinstance(item[0], slice):
                    return [[value for value in row.items()][item[1]] for row in self.data[item[0]]]
                
                elif isinstance(item[1], int):
                    return [row for row in self.data[item[0]].items()][item[1]]
                
                
                elif isinstance(item[1], str):
                    return self[item[1]][item[0]]
                else:
                    raise TypeError('I don\'t know how to handle this...')

        # only for lists of column names
        elif isinstance(item, list):
            return [[row[column_name] for column_name in item] for row in self.data]
        
     
        

        
    def get_rows_where_column_has_value(self, column_name, value, index_only=False):
        if index_only:
            return [index for index, row_value in enumerate(self[column_name]) if row_value==value]
        else:
            return [row for row in self.data if row[column_name]==value]

    #A2-task3
    def type_valid(self, column_name):
        from datetime import datetime
        if isinstance(self[column_name][0], (int, float, datetime)):
            return True
        else:
            return False
    
    def min(self, column_name):
        if not self.type_valid(column_name):
            raise Exception("Data Invalid Error")
        
        return min(self[column_name])
    
    def max(self, column_name):
        if not self.type_valid(column_name):
            raise Exception("Data Invalid Error")
        return max(self[column_name])
    
    def median(self, column_name):
        if not self.type_valid(column_name):
            raise Exception("Data Invalid Error")
        else:
            self[column_name].sort()
            lens = len(self[column_name])
            if lens%2 == 0:
                midl = lens/2
                res = self[column_name][int(midl)]
            else:
                odd = (lens /2)-1
                even = (lens /2)
                res = float(self[column_name][int(odd)] + self[column_name][int(even)]) / float(2)
        return res
    
    def mean(self, column_name):
        if not self.type_valid(column_name):
            raise Exception("Data Invalid Error")
        return float(sum(self[column_name])) / max(len(self[column_name]), 1)
    
    def _ss(self, column_name):
        #Return sum of square deviation of sequence data
        if not self.type_valid(column_name):
            raise Exception("Data Invalid Error")
        else:
            sum_value = 0
            mean_value =self.mean(column_name)
            for index, row_value in enumerate(self[column_name]):
                ss = (row_value-mean_value)**2
                sum_value += ss
            return ss
    
    def stdev(self, column_name):
        '''Calculate the population standard deviation'''
        n = len(self[column_name])
        ss = self._ss(column_name)
        svar = ss/n
        return svar**0.5
            
    
    
        
    #A2-task 4 add_rows                 
    def add_rows(self, list_of_lists):
        
        for l in list_of_lists:
            if len(l) != len(self.data[0]):
                raise Exception("The length of input does not match the column number")
                
        self.data = self.data + [OrderedDict(zip(self.header, row)) for row in list_of_lists] 
        
        
    #A2-task 5 add_column
    def add_column(self, list_of_values, column_name):
        if len(list_of_values) != len(self.data):
            raise Exception("The length of input does not match the column number")
        
        for row in self.data[::-1]:
            row[column_name] = list_of_values.pop()
            
    #assignment3 
    #task1
    def sort_by(self, column_name, aescending):
        if aescending == True:
            return sorted(self[column_name])
        else:
            return sorted(self[column_name], reverse = True)
        
    
     #A3-task2
    def comparsion_boolean(self, column_name, threshold):
        boolean_list = []
        for index, row_value in enumerate(self[column_name]):
            boolean_value  = threshold > row_value
            boolean_list.append(boolean_value)
        return [index, row_value for index, row_value in enumerate(boolean_list) if row_value]   
           

    
infile = open('/Users/Lucinda/Desktop/660/data_source/SalesJan2009.csv')
lines = infile.readlines()
lines = [lines[i].strip('\n') for i in range(len(lines))]
data = [l.split(',') for l in lines]
things = lines[559].split('"')
data[559] = things[0].split(',')[:-1] +[things[1]] + things[-1].split(',')[1:]
data[559][2] = data[559][2].replace(',','')

for p in range(1, len(data)):
    data[p][2] = float(data[p][2])
    data[p][0] = datetime.strptime(data[p][0], '%m/%d/%y %H:%M')

    
    

df = DataFrame(list_of_lists=data)
# get the 5th row
fifth = df[4]
sliced = df[4:10]

# get item definition for df [row, column]

# get the third column
tupled = df[:, 2]
tupled_slices = df[0:5, :3]

tupled_bits = df[[1, 4], [1, 4]]


# adding header for data with no header
#df = DataFrame(list_of_lists=data[1:], header=False)

# fetch columns by name
# named = df['column1']
# named_multi = df[['column1', 'column7']]

# #fetch rows and (columns by name)
# named_rows_and_columns = df[:5, 'column7']
# named_rows_and_multi_columns = df[:5, ['column4', 'column7']]


#testing from_csv class method
# df = DataFrame.from_csv('/Users/Lucinda/Desktop/660/data_source/SalesJan2009.csv')
# rows = df.get_rows_where_column_has_value('Payment_Type', 'Visa')
# indices = df.get_rows_where_column_has_value('Payment_Type', 'Visa', index_only=True)

# rows_way2 = df[indices, ['Product', 'Country']]

SyntaxError: invalid syntax (<ipython-input-141-7d25c5733d79>, line 204)

In [137]:
df.data

[OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 2, 6, 17)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Mastercard'),
              ('Name', 'carolina'),
              ('City', 'Basildon'),
              ('State', 'England'),
              ('Country', 'United Kingdom'),
              ('Account_Created', '1/2/09 6:00'),
              ('Last_Login', '1/2/09 6:08'),
              ('Latitude', '51.5'),
              ('Longitude', '-1.1166667')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 2, 4, 53)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Visa'),
              ('Name', 'Betina'),
              ('City', 'Parkville'),
              ('State', 'MO'),
              ('Country', 'United States'),
              ('Account_Created', '1/2/09 4:42'),
              ('Last_Login', '1/2/09 7:49'),
              ('Latitude', '39.195'),
              ('Longitude', '-94.68194')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 2, 13, 8)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Mastercard'),
              ('Name', 'Federica e Andrea'),
              ('City', 'Astoria'),
              ('State', 'OR'),
              ('Country', 'United States'),
              ('Account_Created', '1/1/09 16:21'),
              ('Last_Login', '1/3/09 12:32'),
              ('Latitude', '46.18806'),
              ('Longitude', '-123.83')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 3, 14, 44)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Visa'),
              ('Name', 'Gouya'),
              ('City', 'Echuca'),
              ('State', 'Victoria'),
              ('Country', 'Australia'),
              ('Account_Created', '9/25/05 21:13'),
              ('Last_Login', '1/3/09 14:22'),
              ('Latitude', '-36.1333333'),
              ('Longitude', '144.75')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 4, 12, 56)),
              ('Product', 'Product2'),
              ('Price', 3600.0),
              ('Payment_Type', 'Visa'),
              ('Name', 'Gerd W'),
              ('City', 'Cahaba Heights'),
              ('State', 'AL'),
              ('Country', 'United States'),
              ('Account_Created', '11/15/08 15:47'),
              ('Last_Login', '1/4/09 12:45'),
              ('Latitude', '33.52056'),
              ('Longitude', '-86.8025')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 4, 13, 19)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Visa'),
              ('Name', 'LAURENCE'),
              ('City', 'Mickleton'),
              ('State', 'NJ'),
              ('Country', 'United States'),
              ('Account_Created', '9/24/08 15:19'),
              ('Last_Login', '1/4/09 13:04'),
              ('Latitude', '39.79'),
              ('Longitude', '-75.23806')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 4, 20, 11)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Mastercard'),
              ('Name', 'Fleur'),
              ('City', 'Peoria'),
              ('State', 'IL'),
              ('Country', 'United States'),
              ('Account_Created', '1/3/09 9:38'),
              ('Last_Login', '1/4/09 19:45'),
              ('Latitude', '40.69361'),
              ('Longitude', '-89.58889')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 2, 20, 9)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Mastercard'),
              ('Name', 'adam'),
              ('City', 'Martin'),
              ('State', 'TN'),
              ('Country', 'United States'),
              ('Account_Created', '1/2/09 17:43'),
              ('Last_Login', '1/4/09 20:01'),
              ('Latitude', '36.34333'),
              ('Longitude', '-88.85028')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 4, 13, 17)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Mastercard'),
              ('Name', 'Renee Elisabeth'),
              ('City', 'Tel Aviv'),
              ('State', 'Tel Aviv'),
              ('Country', 'Israel'),
              ('Account_Created', '1/4/09 13:03'),
              ('Last_Login', '1/4/09 22:10'),
              ('Latitude', '32.0666667'),
              ('Longitude', '34.7666667')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 4, 14, 11)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Visa'),
              ('Name', 'Aidan'),
              ('City', 'Chatou'),
              ('State', 'Ile-de-France'),
              ('Country', 'France'),
              ('Account_Created', '6/3/08 4:22'),
              ('Last_Login', '1/5/09 1:17'),
              ('Latitude', '48.8833333'),
              ('Longitude', '2.15')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 5, 2, 42)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Diners'),
              ('Name', 'Stacy'),
              ('City', 'New York'),
              ('State', 'NY'),
              ('Country', 'United States'),
              ('Account_Created', '1/5/09 2:23'),
              ('Last_Login', '1/5/09 4:59'),
              ('Latitude', '40.71417'),
              ('Longitude', '-74.00639')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 5, 5, 39)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Amex'),
              ('Name', 'Heidi'),
              ('City', 'Eindhoven'),
              ('State', 'Noord-Brabant'),
              ('Country', 'Netherlands'),
              ('Account_Created', '1/5/09 4:55'),
              ('Last_Login', '1/5/09 8:15'),
              ('Latitude', '51.45'),
              ('Longitude', '5.4666667')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 2, 9, 16)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Mastercard'),
              ('Name', 'Sean'),
              ('City', 'Shavano Park'),
              ('State', 'TX'),
              ('Country', 'United States'),
              ('Account_Created', '1/2/09 8:32'),
              ('Last_Login', '1/5/09 9:05'),
              ('Latitude', '29.42389'),
              ('Longitude', '-98.49333')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 5, 10, 8)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Visa'),
              ('Name', 'Georgia'),
              ('City', 'Eagle'),
              ('State', 'ID'),
              ('Country', 'United States'),
              ('Account_Created', '11/11/08 15:53'),
              ('Last_Login', '1/5/09 10:05'),
              ('Latitude', '43.69556'),
              ('Longitude', '-116.35306')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 2, 14, 18)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Visa'),
              ('Name', 'Richard'),
              ('City', 'Riverside'),
              ('State', 'NJ'),
              ('Country', 'United States'),
              ('Account_Created', '12/9/08 12:07'),
              ('Last_Login', '1/5/09 11:01'),
              ('Latitude', '40.03222'),
              ('Longitude', '-74.95778')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 4, 1, 5)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Diners'),
              ('Name', 'Leanne'),
              ('City', 'Julianstown'),
              ('State', 'Meath'),
              ('Country', 'Ireland'),
              ('Account_Created', '1/4/09 0:00'),
              ('Last_Login', '1/5/09 13:36'),
              ('Latitude', '53.6772222'),
              ('Longitude', '-6.3191667')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 5, 11, 37)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Visa'),
              ('Name', 'Janet'),
              ('City', 'Ottawa'),
              ('State', 'Ontario'),
              ('Country', 'Canada'),
              ('Account_Created', '1/5/09 9:35'),
              ('Last_Login', '1/5/09 19:24'),
              ('Latitude', '45.4166667'),
              ('Longitude', '-75.7')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 6, 5, 2)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Diners'),
              ('Name', 'barbara'),
              ('City', 'Hyderabad'),
              ('State', 'Andhra Pradesh'),
              ('Country', 'India'),
              ('Account_Created', '1/6/09 2:41'),
              ('Last_Login', '1/6/09 7:52'),
              ('Latitude', '17.3833333'),
              ('Longitude', '78.4666667')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 6, 7, 45)),
              ('Product', 'Product2'),
              ('Price', 3600.0),
              ('Payment_Type', 'Visa'),
              ('Name', 'Sabine'),
              ('City', 'London'),
              ('State', 'England'),
              ('Country', 'United Kingdom'),
              ('Account_Created', '1/6/09 7:00'),
              ('Last_Login', '1/6/09 9:17'),
              ('Latitude', '51.52721'),
              ('Longitude', '0.14559')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 2, 7, 35)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Diners'),
              ('Name', 'Hani'),
              ('City', 'Salt Lake City'),
              ('State', 'UT'),
              ('Country', 'United States'),
              ('Account_Created', '12/30/08 5:44'),
              ('Last_Login', '1/6/09 10:52'),
              ('Latitude', '40.76083'),
              ('Longitude', '-111.89028')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 6, 12, 56)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Visa'),
              ('Name', 'Jeremy'),
              ('City', 'Manchester'),
              ('State', 'England'),
              ('Country', 'United Kingdom'),
              ('Account_Created', '1/6/09 10:58'),
              ('Last_Login', '1/6/09 13:31'),
              ('Latitude', '53.5'),
              ('Longitude', '-2.2166667')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 1, 11, 5)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Diners'),
              ('Name', 'Janis'),
              ('City', 'Ballynora'),
              ('State', 'Cork'),
              ('Country', 'Ireland'),
              ('Account_Created', '12/10/07 12:37'),
              ('Last_Login', '1/7/09 1:52'),
              ('Latitude', '51.8630556'),
              ('Longitude', '-8.58')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 5, 4, 10)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Mastercard'),
              ('Name', 'Nicola'),
              ('City', 'Roodepoort'),
              ('State', 'Gauteng'),
              ('Country', 'South Africa'),
              ('Account_Created', '1/5/09 2:33'),
              ('Last_Login', '1/7/09 5:13'),
              ('Latitude', '-26.1666667'),
              ('Longitude', '27.8666667')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 6, 7, 18)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Visa'),
              ('Name', 'asuman'),
              ('City', 'Chula Vista'),
              ('State', 'CA'),
              ('Country', 'United States'),
              ('Account_Created', '1/6/09 7:07'),
              ('Last_Login', '1/7/09 7:08'),
              ('Latitude', '32.64'),
              ('Longitude', '-117.08333')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 2, 1, 11)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Mastercard'),
              ('Name', 'Lena'),
              ('City', 'Kuopio'),
              ('State', 'Ita-Suomen Laani'),
              ('Country', 'Finland'),
              ('Account_Created', '12/31/08 2:48'),
              ('Last_Login', '1/7/09 10:20'),
              ('Latitude', '62.9'),
              ('Longitude', '27.6833333')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 1, 2, 24)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Visa'),
              ('Name', 'Lisa'),
              ('City', 'Sugar Land'),
              ('State', 'TX'),
              ('Country', 'United States'),
              ('Account_Created', '1/1/09 1:56'),
              ('Last_Login', '1/7/09 10:52'),
              ('Latitude', '29.61944'),
              ('Longitude', '-95.63472')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 7, 8, 8)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Diners'),
              ('Name', 'Bryan Kerrene'),
              ('City', 'New York'),
              ('State', 'NY'),
              ('Country', 'United States'),
              ('Account_Created', '1/7/09 7:39'),
              ('Last_Login', '1/7/09 12:38'),
              ('Latitude', '40.71417'),
              ('Longitude', '-74.00639')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 2, 2, 57)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Visa'),
              ('Name', 'chris'),
              ('City', 'London'),
              ('State', 'England'),
              ('Country', 'United Kingdom'),
              ('Account_Created', '1/3/08 7:23'),
              ('Last_Login', '1/7/09 13:14'),
              ('Latitude', '51.52721'),
              ('Longitude', '0.14559')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 1, 20, 21)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Visa'),
              ('Name', 'Maxine'),
              ('City', 'Morton'),
              ('State', 'IL'),
              ('Country', 'United States'),
              ('Account_Created', '10/24/08 6:48'),
              ('Last_Login', '1/7/09 20:49'),
              ('Latitude', '40.61278'),
              ('Longitude', '-89.45917')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 8, 0, 42)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Visa'),
              ('Name', 'Family'),
              ('City', 'Los Gatos'),
              ('State', 'CA'),
              ('Country', 'United States'),
              ('Account_Created', '1/8/09 0:28'),
              ('Last_Login', '1/8/09 3:39'),
              ('Latitude', '37.22667'),
              ('Longitude', '-121.97361')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 8, 3, 56)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Mastercard'),
              ('Name', 'Katherine'),
              ('City', 'New York'),
              ('State', 'NY'),
              ('Country', 'United States'),
              ('Account_Created', '1/8/09 3:33'),
              ('Last_Login', '1/8/09 6:19'),
              ('Latitude', '40.71417'),
              ('Longitude', '-74.00639')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 8, 3, 16)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Mastercard'),
              ('Name', 'Linda'),
              ('City', 'Miami'),
              ('State', 'FL'),
              ('Country', 'United States'),
              ('Account_Created', '1/8/09 3:06'),
              ('Last_Login', '1/8/09 6:34'),
              ('Latitude', '25.77389'),
              ('Longitude', '-80.19389')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 8, 1, 59)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Mastercard'),
              ('Name', 'SYLVIA'),
              ('City', 'Vesenaz'),
              ('State', 'Geneve'),
              ('Country', 'Switzerland'),
              ('Account_Created', '11/28/07 11:56'),
              ('Last_Login', '1/8/09 7:20'),
              ('Latitude', '46.2333333'),
              ('Longitude', '6.2')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 3, 9, 3)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Diners'),
              ('Name', 'Sheila'),
              ('City', 'Brooklyn'),
              ('State', 'NY'),
              ('Country', 'United States'),
              ('Account_Created', '1/3/09 8:47'),
              ('Last_Login', '1/8/09 10:38'),
              ('Latitude', '40.65'),
              ('Longitude', '-73.95')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 5, 13, 17)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Mastercard'),
              ('Name', 'Stephanie'),
              ('City', 'Badhoevedorp'),
              ('State', 'Noord-Holland'),
              ('Country', 'Netherlands'),
              ('Account_Created', '1/5/09 12:45'),
              ('Last_Login', '1/8/09 11:45'),
              ('Latitude', '52.3333333'),
              ('Longitude', '4.7833333')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 6, 7, 46)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Amex'),
              ('Name', 'Kelly'),
              ('City', 'Reston'),
              ('State', 'VA'),
              ('Country', 'United States'),
              ('Account_Created', '1/6/09 7:30'),
              ('Last_Login', '1/8/09 12:40'),
              ('Latitude', '38.96861'),
              ('Longitude', '-77.34139')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 5, 20, 0)),
              ('Product', 'Product2'),
              ('Price', 3600.0),
              ('Payment_Type', 'Visa'),
              ('Name', 'James'),
              ('City', 'Burpengary'),
              ('State', 'Queensland'),
              ('Country', 'Australia'),
              ('Account_Created', '12/10/08 19:53'),
              ('Last_Login', '1/8/09 17:58'),
              ('Latitude', '-27.1666667'),
              ('Longitude', '152.95')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 8, 16, 24)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Visa'),
              ('Name', 'jennifer'),
              ('City', 'Phoenix'),
              ('State', 'AZ'),
              ('Country', 'United States'),
              ('Account_Created', '1/8/09 15:57'),
              ('Last_Login', '1/8/09 18:30'),
              ('Latitude', '33.44833'),
              ('Longitude', '-112.07333')]),
 OrderedDict([('Transaction_date', datetime.datetime(2009, 1, 9, 6, 39)),
              ('Product', 'Product1'),
              ('Price', 1200.0),
              ('Payment_Type', 'Mastercard'),
              ('Name', 'Anneli'),
              ('City', 'Houston'),
              ('State', 'TX'),
              ('Country', 'United States'),
              ('Account_Created', '1/9/09 5:09'),

In [1]:
#df.sort_by('Price', aescending = False)

In [74]:
print('max price:',df.max('Price'))
print('min price:',df.min('Price'))
print('mean price:',df.mean('Price'))
print('max date:',df.max('Transaction_date'))
print('min date:',df.min('Transaction_date'))
#print('mean date:',df.mean('Transaction_date'))
print('exception', df.max('Payment_Type'))

max price: 13000.0
min price: 250.0
mean price: 1633.7675350701402
max date: 2009-01-31 23:09:00
min date: 2009-01-01 01:26:00

Exception: Data Invalid Error

In [278]:
infile = open('/Users/Lucinda/Desktop/660/data_source/SalesJan2009.csv')
lines = infile.readlines()
lines = [lines[i].strip('\n') for i in range(len(lines))]
data = [l.split(',') for l in lines]
lines[559]

'1/28/09 18:00,Product1,"13,000",Visa,sandhya,Centennial                  ,CO,United States,12/2/06 23:24,2/7/09 15:18,39.57917,-104.87639'

In [201]:
new_rows = [[datetime(2011, 1, 28, 18, 0),
             'Product1',
              33000,
             'Visa',
             'sandhya',
             'Centennial',
             'CO',
             'United States',
             '12/2/06 23:24',
             '2/7/09 15:18',
             '39.57917',
             '-104.87639'],

             [datetime(2013, 1, 28, 18, 0),
             'Product1',
              36000,
             'Visa',
             'sandhya',
             'Centennial',
             'CO',
             'United States',
             '12/2/06 23:24',
             '2/7/09 15:18',
             '39.57917',
             '-104.87639'],
]
df.add_rows(new_rows)
df[-1]

OrderedDict([('Transaction_date', datetime.datetime(2013, 1, 28, 18, 0)),
             ('Product', 'Product1'),
             ('Price', 36000),
             ('Payment_Type', 'Visa'),
             ('Name', 'sandhya'),
             ('City', 'Centennial'),
             ('State', 'CO'),
             ('Country', 'United States'),
             ('Account_Created', '12/2/06 23:24'),
             ('Last_Login', '2/7/09 15:18'),
             ('Latitude', '39.57917'),
             ('Longitude', '-104.87639')])

In [332]:
new_column = list(range(len(df.data)))
df.add_column(new_column, 'new_column')